<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.6.13, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.6.13, mobirise.com">
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:image:src" content="">
  <meta property="og:image" content="">
  <meta name="twitter:title" content="About">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/2.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>About</title>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800,900,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800,900,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  
</head>
<body>
  
  <section data-bs-version="5.1" class="menu menu2 cid-tvD5BaW4lZ" once="menu" id="menu2-c">
    
    <% include ./partials/nav %>
</section>

<section data-bs-version="5.1" class="header6 cid-twNqEFNv6T" id="header6-e">

    

    
    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(0, 0, 0);"></div>

    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-1"><strong>About us</strong></h1>
                
                <p class="mbr-text mbr-white mbr-fonts-style display-7">Satoshi Options is an Options and blockchain wealth management fund, we are an emerging portfolio management firm with multiple streams of income.<br></p>
                
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="image2 cid-twNqGjtyrj" id="image2-f">
    

    
    

    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6">
                <div class="image-wrapper">
                    <img src="assets/images/purpose-578x866.jpg" alt="Mobirise Website Builder">
                    
                </div>
            </div>
            <div class="col-12 col-lg">
                <div class="text-wrapper">
                    <h3 class="mbr-section-title mbr-fonts-style mb-3 display-5"><strong>About us</strong><strong><br></strong></h3>
                    <p class="mbr-text mbr-fonts-style display-7">Satoshi options is an Options and blockchain wealth management fund, we are an emerging portfolio management firm with multiple streams of income. Our mission is to generate world-class investment returns over the long term. We aspire to do so in a way that makes our partners and portfolio companies proud, as we build a unique, global investment company.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="image1 cid-twNqGCPalV" id="image1-g">
    

    
    

    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6">
                <div class="image-wrapper">
                    <img src="assets/images/we-1160x774.jpeg" alt="Mobirise Website Builder">
                    
                </div>
            </div>
            <div class="col-12 col-lg">
                <div class="text-wrapper">
                    <h3 class="mbr-section-title mbr-fonts-style mb-3 display-5">
                        <strong>What we do</strong></h3>
                    <p class="mbr-text mbr-fonts-style display-7">We grow investors funds by investing carefully and strategically into selected sectors and industries.<br><br>We invest these funds into different Options , DAPP, brokerage options and other feasible commodities to achieve such profits. With the help of the funds put into the feasible commodities we assure of the assurance of&nbsp; appreciative return. Then the other funds cast into the different brokerage options gives boost of returns during the period it’s market is effective, now on excessive returns from different brokerage options more funds will be put into the feasible commodities and as well different brokerage options to increase constantly and now with the help of the feasible commodities there’s always available funds to subsidize the days trades are not good. We accumulatively invest clients funds into different brokerage options and feasible commodities including real estate and gold. And we give you your promised percentage respectively. And we all know real estate and gold always appreciates. So the certainty of the returns are assured.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="footer1 cid-tvD5Ni9lJ4" once="footers" id="footer1-4">

    

    
    <% include ./partials/footer %>
</section><section class="display-7" style="padding: 0;align-items: center;justify-content: center;flex-wrap: wrap;    align-content: center;display: flex;position: relative;height: 0rem;"><a href="https://mobiri.se/" style="flex: 1 1;height: 0rem;position: absolute;width: 100%;z-index: -1;"><img alt="" style="height: 4rem;" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="></a><p style="margin: 0;text-align: center; display: none;" class="display-7" >Made with &#8204;</p><a style="z-index:-1; display: none;" href="https://mobirise.com/offline-website-builder.html">Offline Website Maker</a></section><script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/ytplayer/index.js"></script>  <script src="assets/dropdown/js/navbar-dropdown.js"></script>  <script src="assets/theme/js/script.js"></script>  
  
  
</body>
</html>