<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.6.13, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.6.13, mobirise.com">
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:image:src" content="">
  <meta property="og:image" content="">
  <meta name="twitter:title" content="options">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/2.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>options</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons-bold/mobirise-icons-bold.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800,900,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800,900,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  
</head>
<body>
  
  <section data-bs-version="5.1" class="menu menu2 cid-tvD5BaW4lZ" once="menu" id="menu2-j">
    <% include ./partials/nav %>
</section>

<section data-bs-version="5.1" class="header14 cid-twX4ozRySE" id="header14-x">

    

    
    

    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-5 image-wrapper">
                <img src="assets/images/yoga-pose-rocks-coin-760x733.png" alt="Mobirise Website Builder">
            </div>
            <div class="col-12 col-md">
                <div class="text-wrapper">
                    <h1 class="mbr-section-title mbr-fonts-style mb-3 display-2"><strong>Shaping the Crypto Options Industry</strong></h1>
                    <p class="mbr-text mbr-fonts-style display-7">
                        Reach your trading goals by taking full advantage of the most flexible instruments in the market. Stats per May 2023.</p>
                    <div class="mbr-section-btn mt-3">
                        <a class="btn btn-secondary display-4" href="/users/register">Explore
                            all features</a>
                        <a class="btn btn-black-outline display-4" href="/users/register">Create
                            account &gt;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features13 cid-twYatPsEYH" id="features14-11">
    

    
    
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="mbr-section-title align-center mb-4 mbr-fonts-style display-5"><strong>Diverse Features for High Performance Option Trading</strong></h3>
            </div>
            <div class="card col-12 col-md-4 col-lg-2 p-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <span class="mbr-iconfont mbrib-growing-chart"></span>
                        <h4 class="card-title align-center mbr-black mbr-fonts-style display-7"><strong>Incremental Liquidation</strong></h4>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-4 col-lg-2">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <span class="mbr-iconfont mbrib-play"></span>
                        <h4 class="card-title align-center mbr-black mbr-fonts-style display-7"><strong>Multicast</strong></h4>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-4 col-lg-2">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <span class="mbr-iconfont mbrib-sale"></span>
                        <h4 class="card-title align-center mbr-black mbr-fonts-style display-7"><strong>Volatility Products</strong></h4>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-4 col-lg-2">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <span class="mbr-iconfont mbrib-edit"></span>
                        <h4 class="card-title align-center mbr-black mbr-fonts-style display-7"><strong>Off-Exchange Settlement</strong></h4>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-4 col-lg-2">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <span class="mbr-iconfont mbrib-drag-n-drop"></span>
                        <h4 class="card-title align-center mbr-black mbr-fonts-style display-7"><strong>Block Trade Functionality</strong></h4>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-4 col-lg-2">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <span class="mbr-iconfont mbrib-github"></span>
                        <h4 class="card-title align-center mbr-black mbr-fonts-style display-7"><strong>Portfolio Margin</strong></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section data-bs-version="5.1" class="features15 cid-twXci5okhI" id="features16-y">

    

    
    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-2"><div><br></div><div><strong>Superior System Architecture</strong></div></h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">
                            Our proprietary technology and global server infrastructure ensure an unmatched system performance making Deribit the first choice for algorithmic and high-frequency traders.</p>
                        <div class="mbr-section-btn mt-3"><a class="btn btn-primary display-4" href="/users/register">Learn more</a></div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="assets/images/earn-affiliates-1160x1289.png" alt="Mobirise Website Builder">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section data-bs-version="5.1" class="features16 cid-twXciAG4Uh" id="features17-z">
    

    
    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="assets/images/phishing-main-1160x1160.png" alt="Mobirise Website Builder">
                    </div>
                </div>
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-5"><strong>Advanced Multilevel Security</strong></h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">
                            Safeguard your assets on Deribit with 99% of all funds stored in cold storage with a multi-sig, MPC and split private key structure. Or choose the best match for your security requirements from our third-party custody network.</p>
                        <div class="mbr-section-btn mt-3">
                            <a class="btn btn-primary display-4" href="/users/register">
                                Learn more
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="info1 cid-tvKLNNVkpz" id="info1-b">
    

    
    
    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <h3 class="mbr-section-title mb-4 mbr-fonts-style display-1"><strong>Built to make options easy</strong></h3>
                
                <div class="mbr-section-btn"><a class="btn btn-white display-4" href="/users/register">Join now&nbsp;</a></div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="clients1 cid-tvD5LClohb" id="clients1-3">
    
    <div class="images-container container">
        <div class="mbr-section-head">
            
            
            
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-md-3 card">
                <img src="assets/images/1.svg" alt="Mobirise Website Builder">
            </div>
            <div class="col-md-3 card">
                <img src="assets/images/2.svg" alt="Mobirise Website Builder">
            </div>
            <div class="col-md-3 card">
                <img src="assets/images/5.svg" alt="Mobirise Website Builder">
            </div>
            <div class="col-md-3 card">
                <img src="assets/images/4.svg" alt="Mobirise Website Builder">
            </div>
            <div class="col-md-3 card">
                <img src="assets/images/okcoin.svg" alt="Mobirise Website Builder">
            </div>
            <div class="col-md-3 card">
                <img src="assets/images/bitstamp.svg" alt="Mobirise Website Builder">
            </div>
            
            
        </div>
    </div>
</section>
<section data-bs-version="5.1" class="footer1 cid-tvD5Ni9lJ4" once="footers" id="footer1-4">

    

    
    <% include ./partials/footer %>
</section><section class="display-7" style="padding: 0;align-items: center;justify-content: center;flex-wrap: wrap;    align-content: center;display: flex;position: relative;height: 0rem;"><a href="https://mobiri.se/" style="flex: 1 1;height: 0rem;position: absolute;width: 100%;z-index: -1;"><img alt="" style="height: 4rem;" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="></a><p style="margin: 0;text-align: center; display: none;" class="display-7" >Made with &#8204;</p><a style="z-index:-1; display: none;" href="https://mobirise.com/offline-website-builder.html">Offline Website Maker</a></section><script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/ytplayer/index.js"></script>  <script src="assets/dropdown/js/navbar-dropdown.js"></script>  <script src="assets/theme/js/script.js"></script>  
  

<% include ./partials/chat %>
</body>
</html>