<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.6.13, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.6.13, mobirise.com">
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:image:src" content="">
  <meta property="og:image" content="">
  <meta name="twitter:title" content="About">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/2.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>About</title>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800,900,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800,900,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  
</head>
<body>
  
  <section data-bs-version="5.1" class="menu menu2 cid-tvD5BaW4lZ" once="menu" id="menu2-c">
    
    <% include ./partials/nav %>
</section>


<br><br><br>


<section class="content14 cid-sbitOvyTCz" id="content14-1w">
    
    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                    <h3 class="mbr-section-title mbr-fonts-style mb-4 display-5">
                        <strong>PRIVACY POLICY</strong>
                    </h3>
                    <h6 class="mbr-section-title mbr-fonts-style mb-4 display-8">
                        Last Updated: 7, july 2020
                    </h6>
                <ul class="list mbr-fonts-style display-7">
                    <li><strong>Our privacy policy applies to information we collect when you use or access our website, application, or just interact with us. We may change this privacy policy from time to time. Whenever we make changes to this privacy policy, the changes are effective after we post the revised privacy policy (as indicated by revising the date at the top of our privacy policy). We encourage you to review our privacy policy whenever you access our services to stay informed about our information practices and the ways you can help protect your privacy.
                    </strong><br> </li>
                    <li><strong>We collect information you provide directly to us. For example, we collect information when you participate in any interactive features of our services, fill out a form provide any contact or identifying information or otherwise communicate with us. The types of information we may collect include your name, email address, postal address, Bitcoin Address  and other  or identifying information you choose to Provide/strong><br></li>
                        <li><strong>In order to provide you with access to the Service, or to provide you with better service in general, we may combine information obtained from other sources (for example, a third-party service whose application you have authorized or used to sign in) and combine that with information we collect through our services.</strong><br></li>
                        <li><strong>We take reasonable measures to help protect personal information from loss, theft, misuse and unauthorized access, disclosure, alteration and destruction.</strong><br></li>
                        <li><strong>When you access or use our services, we automatically collect information about you, including:
                            Log Information: We log information about your use of our services, including the type of browser you use, access times, pages viewed, your IP address and the page you visited before navigating to our services.
                            Device Information: We collect information about the computer you use to access our services, including the hardware model, and operating system and version.
                           Location Information: We may collect information about the location of your device each time you access or use one of our mobile applications or otherwise consent to the collection of this information.</strong>
                           <br></li>
                           <li><strong>We use information about you for various purposes, including to: <br>  <br>

                            * Provide, maintain and improve our services;<br> <br>
                            * Provide services you request, process transactions and to send you related information;<br> <br>
                            * Send you technical notices, updates, security alerts and support and administrative messages;<br> <br>
                            * Respond to your comments, questions and requests and provide customer service;<br> <br>
                            * Communicate with you about news and information related to our service;<br> <br>
                            * Monitor and analyze trends, usage and activities in connection with our services; and <br> <br>
                            * Personalize and improve our services. <br> <br>
                            
                            By accessing and using our services, you consent to the processing and transfer of your information in and to the United States and other countries.
                            </strong><br></li>
                            <li><strong>We may allow third parties to provide analytics services. These third parties may use cookies, web beacons and other technologies to collect information about your use of the services and other websites, including your IP address, web browser, pages viewed, time spent on pages, links clicked and conversion information. This information may be used by us and third parties to, among other things, analyze and track data, determine the popularity of certain content and other websites and better understand your online activity. Our privacy policy does not apply to, and we are not responsible for, third party cookies, web beacons or other tracking technologies and we encourage you to check the privacy policies of these third parties to learn more about their privacy practices.</strong><br></li>
                            <li><strong>We may share personal information about you as follows:
                                <br> <br>

                                * With third party vendors and other service providers who need access to your information to carry out work on our behalf, such as Names, bitcoin_address, browser, location etc; <br> <br>
                                * If we believe disclosure is reasonably necessary to comply with any applicable law, regulation, legal process or governmental request;
                                * To enforce applicable user agreements or policies, including our Terms of Service <a href="/term-and-condition" style="color: #000000;"> here</a> and to protect us, our users or the public from harm or illegal activities;<br> <br>
                                * In connection with any merger, sale of Our assets, financing or acquisition of all or a portion of our business to another company; and <br> <br>
                                * If we notify you through our services (or in our privacy policy) that the information you provide will be shared in a particular manner and you provide such information. <br> <br>
                                
                                We may also share aggregated or anonymized information that does not directly identify you or your details.
                                </strong><br></li>
                                <li><strong>Most web browsers are set to accept cookies by default. If you prefer, you can usually choose to set your browser to remove or reject browser cookies. Please note that if you choose to remove or reject cookies, this could affect the availability and functionality of our services.</strong><br></li>
                                <li><strong>You may opt out of receiving any promotional emails from us by following the instructions in those emails. If you opt out, we may still send you non-promotional communications, such as those about your account or our ongoing business relations.</strong><br></li>
                                <li><strong>If you have any questions about this privacy policy, please contact us at: admin@satoshioptions.com</strong><br></li>
                                <br><br><br><br><br>
                </ul>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="footer1 cid-tvD5Ni9lJ4" once="footers" id="footer1-4">

    

    
    <% include ./partials/footer %>
</section><section class="display-7" style="padding: 0;align-items: center;justify-content: center;flex-wrap: wrap;    align-content: center;display: flex;position: relative;height: 0rem;"><a href="https://mobiri.se/" style="flex: 1 1;height: 0rem;position: absolute;width: 100%;z-index: -1;"><img alt="" style="height: 4rem;" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="></a><p style="margin: 0;text-align: center; display: none;" class="display-7" >Made with &#8204;</p><a style="z-index:-1; display: none;" href="https://mobirise.com/offline-website-builder.html">Offline Website Maker</a></section><script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/ytplayer/index.js"></script>  <script src="assets/dropdown/js/navbar-dropdown.js"></script>  <script src="assets/theme/js/script.js"></script>  
  
  
</body>
</html>