<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.6.13, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.6.13, mobirise.com">
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:image:src" content="">
  <meta property="og:image" content="">
  <meta name="twitter:title" content="About">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/2.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>About</title>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800,900,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800,900,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  
</head>
<body>
  
  <section data-bs-version="5.1" class="menu menu2 cid-tvD5BaW4lZ" once="menu" id="menu2-c">
    
    <% include ./partials/nav %>
</section>


<section class="content14 cid-sbitOvyTCz" id="content14-1w">
    
    
    <br><br><br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                    <h3 class="mbr-section-title mbr-fonts-style mb-4 display-5">
                        <strong>Refund policy</strong>
                    </h3>
                    <h6 class="mbr-section-title mbr-fonts-style mb-4 display-6">
                        <strong>disclaimer</strong>
                    </h6>
                <ul class="list mbr-fonts-style display-7">
                    <li><strong>Satoshi Options  is not available to the general public and is opened only to the qualified members , the use of this site is restricted to our members and to individuals personally invited by them. Every deposit is considered to be a private transaction between us and its Member.
                    </strong><br></li>
                    <li><strong>You agree to hold all principals and members harmless of any liability. You are investing at your own risk and you agree that a past performance is not an explicit guarantee for the same future performance. You agree that all information, communications and materials you will find on this site are intended to be regarded as an informational and educational matter and not an investment advice.</strong><br></li>
                    <li><strong>Don't post bad vote on Public Forums and at Gold Rating Site without contacting the administrator of our program FIRST. Maybe there was a technical problem with your transaction, so please always clear all complaint with the administrator.</strong><br>
                       </li>
                       <li><strong>Finally we do not control or own the market there would case where we at Satoshi Options may not take proper analysis or make few bad invest which will lead loss at Satoshi Options . <br>
                        if we experience this kind of situation we at Satoshi Options will take onw this losses and make refunds from our Gold reserves, so there will be no room for our investors to loss money.
                    </strong><br></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section data-bs-version="5.1" class="footer1 cid-tvD5Ni9lJ4" once="footers" id="footer1-4">

    

    
    <% include ./partials/footer %>
</section><section class="display-7" style="padding: 0;align-items: center;justify-content: center;flex-wrap: wrap;    align-content: center;display: flex;position: relative;height: 0rem;"><a href="https://mobiri.se/" style="flex: 1 1;height: 0rem;position: absolute;width: 100%;z-index: -1;"><img alt="" style="height: 4rem;" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="></a><p style="margin: 0;text-align: center; display: none;" class="display-7" >Made with &#8204;</p><a style="z-index:-1; display: none;" href="https://mobirise.com/offline-website-builder.html">Offline Website Maker</a></section><script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/ytplayer/index.js"></script>  <script src="assets/dropdown/js/navbar-dropdown.js"></script>  <script src="assets/theme/js/script.js"></script>  
  
  
</body>
</html>